# Dependencies
node_modules

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist
.next
out
coverage

# Generated Prisma client
services/api/src/generated

# Environment files
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local

# Commit safe environment templates
!.env.example
!**/.env.example

# IDE
.vscode/settings.json
.idea

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo

# TypeScript
*.tsbuildinfo